.shadow-1 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.32), 0 3px 6px rgba(0, 0, 0, 0.46);
}
.opacity-effect {
  background-color: rgba(0, 0, 0, 0.45);
}
.opacity-effect > .main-content {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
body {
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
body > * {
  line-height: 130%;
  font-family: 'Roboto Mono', monospace;
}
.main-content {
  margin: 5vh 5vw;
}
hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin: 50px 0px;
}
pre {
  padding: 15px 25px;
  max-height: 45vh;
  overflow: auto;
  height: auto;
  background-color: #eceff1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
}
pre::before {
  content: 'Example code\a';
  white-space: pre;
  font-weight: bold;
  font-size: 115%;
}
.default-button {
  cursor: pointer;
  background-color: #4285F4;
  color: white;
  text-transform: uppercase;
  border: none;
  outline: none;
  padding: 13px 20px;
  margin-bottom: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.default-button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.32), 0 3px 6px rgba(0, 0, 0, 0.46);
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.red-text {
  color: #ff4444;
}
.blue-text {
  color: #0d47a1;
}
.nowrap {
  white-space: nowrap;
}
.card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-align: justify;
}
.card * {
  padding: 1.2rem 1.5rem;
}
.card .card-head {
  font-weight: bold;
  font-size: 2rem;
}
.card .card-footer {
  font-weight: bold;
}
.card.default .card-head {
  background-color: #eceff1;
  color: black;
}
.card.default .card-body {
  color: black;
  background-color: white;
}
.card.default .card-footer {
  background-color: #546e7a;
  color: white;
}
.card.primary .card-head {
  background-color: #4285F4;
  color: white;
}
.card.primary .card-body {
  color: black;
  background-color: white;
}
.card.primary .card-footer {
  background-color: #0d47a1;
  color: white;
}
.card.danger .card-head {
  background-color: #ff4444;
  color: white;
}
.card.danger .card-body {
  color: black;
  background-color: white;
}
.card.danger .card-footer {
  background-color: #CC0000;
  color: white;
}
.card.warning .card-head {
  background-color: #ffbb33;
  color: white;
}
.card.warning .card-body {
  color: black;
  background-color: white;
}
.card.warning .card-footer {
  background-color: #FF8800;
  color: white;
}
.card.success .card-head {
  background-color: #00C851;
  color: white;
}
.card.success .card-body {
  color: black;
  background-color: white;
}
.card.success .card-footer {
  background-color: #007E33;
  color: white;
}
.card.info .card-head {
  background-color: #33b5e5;
  color: white;
}
.card.info .card-body {
  color: black;
  background-color: white;
}
.card.info .card-footer {
  background-color: #0099CC;
  color: white;
}
/**
 * The different widths that the sidebar will take depending on the size of the
 * screen where it is displayed.
 */
.side-navbar {
  -webkit-transition: left 0.1s ease-in-out;
  -moz-transition: left 0.1s ease-in-out;
  -o-transition: left 0.1s ease-in-out;
  -ms-transition: left 0.1s ease-in-out;
  transition: left 0.1s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  /**
   * Media queries for different screen sizes. When the bar is hidden,
   * its position with respect to the left margin will be negative.
   */
}
.side-navbar > * {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
  top: 0;
  left: 0;
}
.side-navbar.is-open {
  left: 0;
}
@media only screen and (min-width : 320px), only screen and (min-width : 480px), only screen and (min-width : 768px) {
  .side-navbar {
    width: 70vw;
    left: -70vw;
  }
}
@media only screen and (min-width : 992px) {
  .side-navbar {
    width: 40vw;
    left: -40vw;
  }
}
@media only screen and (min-width : 1200px) {
  .side-navbar {
    width: 25vw;
    left: -25vw;
  }
}
.side-navbar > .side-navbar-header {
  height: 8vh;
}
.side-navbar > .side-navbar-header > img {
  padding: 0.5%;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.side-navbar > .side-navbar-body {
  padding-top: .5rem;
  height: 92vh;
  overflow: auto;
}
.side-navbar > .side-navbar-body > .items {
  list-style-type: none;
}
.side-navbar > .side-navbar-body > .items > .item {
  text-align: left;
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid white;
}
.side-navbar > .side-navbar-body > .items > .item > .push-right {
  float: right;
}
.side-navbar > .side-navbar-body > .items > .item:hover {
  cursor: pointer;
}
.side-navbar > .side-navbar-body > .items > hr {
  margin: 1rem;
}
.side-navbar.default > * {
  background-color: #1C2331;
  color: white;
}
.side-navbar.default > .side-navbar-body > .items > .item:hover {
  background-color: #3F729B;
}
.side-navbar.default > .side-navbar-body > .items > li {
  background-color: #1C2331;
}
.main-content.side-navbar-is-open {
  overflow-y: hidden;
  position: absolute;
}
@media only screen and (min-width : 320px), only screen and (min-width : 480px), only screen and (min-width : 768px) {
  .main-content.side-navbar-is-open {
    left: 70vw;
    width: 29vw;
  }
}
@media only screen and (min-width : 992px) {
  .main-content.side-navbar-is-open {
    left: 40vw;
    width: 59vw;
  }
}
@media only screen and (min-width : 1200px) {
  .main-content.side-navbar-is-open {
    left: 25vw;
    width: 74vw;
  }
}
.full-modal {
  -webkit-transition: top 0.3s ease-in-out;
  -moz-transition: top 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out;
  -ms-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
  position: fixed;
  top: -200vh;
  left: 5%;
  width: 90%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.32), 0 3px 6px rgba(0, 0, 0, 0.46);
}
.full-modal > .modal-header {
  max-height: 10vh;
  height: auto;
  padding: .4rem 1.5rem;
  overflow: auto;
}
.full-modal > .modal-body {
  overflow: auto;
  padding: .75rem 1.5rem;
  min-height: 70vh;
  max-height: 70vh;
  text-align: justify;
}
.full-modal.is-open {
  top: 5vh;
}
.full-modal.default > * {
  color: white;
}
.full-modal.default > .modal-header {
  background-color: #1C2331;
}
.full-modal.default > .modal-body {
  color: black;
  background-color: white;
}
.bottom-modal {
  -webkit-transition: bottom 0.3s ease-in-out;
  -moz-transition: bottom 0.3s ease-in-out;
  -o-transition: bottom 0.3s ease-in-out;
  -ms-transition: bottom 0.3s ease-in-out;
  transition: bottom 0.3s ease-in-out;
  position: fixed;
  bottom: -200vh;
  left: 0;
  width: 100%;
}
.bottom-modal > .modal-body {
  padding: 3.5%;
  text-align: justify;
  height: 35vh;
}
.bottom-modal > .modal-footer {
  height: 10vh;
  font-weight: bold;
  padding: 1.5% 3.5%;
}
.bottom-modal.is-open {
  bottom: 0px;
}
.bottom-modal.is-open > * {
  overflow: auto;
}
.bottom-modal.default > .modal-body {
  color: black;
  background-color: white;
}
.bottom-modal.default > .modal-footer {
  color: white;
  background-color: #1C2331;
}
.full-modal-open,
.bottom-modal-open {
  background-color: rgba(0, 0, 0, 0.45);
}
.full-modal-open > .main-content,
.bottom-modal-open > .main-content {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.full-modal-open .main-content,
.bottom-modal-open .main-content {
  pointer-events: none;
}
