@small-phone: ~"only screen and (min-width : 320px)";
@phone: ~"only screen and (min-width : 480px)";
@tablet: ~"only screen and (min-width : 768px)";
@desktop: ~"only screen and (min-width : 992px)";
@wide-desktop: ~"only screen and (min-width : 1200px)";

@default-color: #eceff1;
@default-color-alt: #546e7a;

@primary-color: #4285F4;
@primary-color-alt: #0d47a1;

@danger-color: #ff4444;
@danger-color-alt: #CC0000;

@warning-color: #ffbb33;
@warning-color-alt: #FF8800;

@success-color: #00C851;
@success-color-alt: #007E33;

@info-color: #33b5e5;
@info-color-alt: #0099CC;

@unique-color: #3F729B;
@unique-color-alt: #1C2331;

.shadow-1 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.shadow-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.32), 0 3px 6px rgba(0,0,0,0.46);
}

.add-transition() {
  @transition: @attribute @time @effect;
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -o-transition: @transition;
  -ms-transition: @transition;
  transition: @transition;
}

.opacity-effect {
  background-color: rgba(0,0,0,0.45);
  > .main-content {
      @blur: 5px;
      -webkit-filter: blur(@blur);
      -moz-filter: blur(@blur);
      -o-filter: blur(@blur);
      -ms-filter: blur(@blur);
      filter: blur(@blur);
  }
}

body {
  > *{
    line-height: 130%;
    font-family: 'Roboto Mono', monospace;
  }
  @effect: ease-in-out;  @attribute: background-color;  @time: .3s;  .add-transition();
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin: 50px 0px;
}

pre {
  padding: 15px 25px;
  max-height: 45vh;
  overflow: auto;
  height: auto;
  background-color: #eceff1;
  .shadow-1;
  border-radius: 2px;
}

pre::before {
  content: 'Example code\a';
  white-space: pre;
  font-weight: bold;
  font-size: 115%;
}

.default-button {
  cursor: pointer;
  background-color: @primary-color;
  color: white;
  text-transform: uppercase;
  border: none;
  outline: none;
  padding: 13px 20px;
  margin-bottom: 10px;

  .shadow-1;

  &:hover {
    .shadow-2;
  }

}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.red-text {
  color: @danger-color;
}

.blue-text {
  color: @primary-color-alt;
}

.nowrap {
  white-space: nowrap;
}

.main-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 90vw;
  margin: 1vh 5vw;
}

@import "partials/card.less";
@import "partials/side-navbar.less";
@import "partials/modals.less";
@import "partials/tabs.less";
