// Media quieries
@small-phone:  ~"only screen and (min-width : 320px)";
@phone:        ~"only screen and (min-width : 480px)";
@tablet:       ~"only screen and (min-width : 768px)";
@desktop:      ~"only screen and (min-width : 992px)";
@wide-desktop: ~"only screen and (min-width : 1200px)";

// Bootstrap colors
@default-color:  #2BBBAD; @default-color-alt: #00695c;
@primary-color:  #4285F4; @primary-color-alt: #0d47a1;
@danger-color:   #ff4444; @danger-color-alt:  #CC0000;
@warning-color:  #ffbb33; @warning-color-alt: #FF8800;
@success-color:  #00C851; @success-color-alt: #007E33;
@info-color:     #33b5e5; @info-color-alt:    #0099CC;
@unique-color:   #3F729B; @unique-color-alt:  #1C2331;
@disabled-color: #78909C;

// Text Colors
.default-text { color: @default-color-alt }
.primary-text { color: @primary-color-alt }
.danger-text  { color: @danger-color-alt  }
.warning-text { color: @warning-color-alt }
.success-text { color: @success-color-alt }
.info-text    { color: @info-color-alt    }
.unique-text  { color: @unique-color-alt  }

// Material design shadows
.no-shadow { box-shadow: 0 3px 6px rgba(0,0,0,0.00), 0 3px 6px rgba(0,0,0,0.00); }
.shadow-1  { box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); }
.shadow-2  { box-shadow: 0 3px 6px rgba(0,0,0,0.32), 0 3px 6px rgba(0,0,0,0.46); }

.add-transition() {
  @transition: @attribute @time @effect;
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -o-transition: @transition;
  -ms-transition: @transition;
  transition: @transition;
}

.blur {
  @blur: 5px;
  -webkit-filter: blur(@blur);
  -moz-filter: blur(@blur);
  -o-filter: blur(@blur);
  -ms-filter: blur(@blur);
  filter: blur(@blur);
}

// .opacity-effect {
//   background-color: rgba(0,0,0,0.45);
//   > .main-content { .blur; }
// }

.scroll-hidden {
  overflow: hidden;
}

.not-selectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select:    none; /* Firefox */
  -ms-user-select:     none; /* IE10+/Edge */
  user-select:         none; /* Standard */
}

.content-disabled {
  .not-selectable;
  .blur;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  pointer-events: none;
}

// Margins
.small-margin-top     { margin-top:    0.5rem }
.small-margin-bottom  { margin-bottom: 0.5rem }
.normal-margin-top    { margin-top:    1.5rem }
.normal-margin-bottom { margin-bottom: 1.5rem }
.large-margin-top     { margin-top:    2.5rem }
.large-margin-bottom  { margin-bottom: 2.5rem }

// Paddings
.small-padding  { padding: 0.5rem 1.5rem; }
.normal-padding { padding: 1rem 2rem;     }
.large-padding  { padding: 1.5rem 2.5rem; }

.center-vertical { display: flex; align-items: center; /* justify-content: flex-start; */ }

.custom-scrollbar {
  &::-webkit-scrollbar { width: .5rem; height: .5rem; }
  &::-webkit-scrollbar-track, &::-webkit-scrollbar-corner { background-color: white; }
  &::-webkit-scrollbar-thumb { background-color: @unique-color-alt; &:hover { background-color: @unique-color; } }
}

// Body General Styling
body {
  padding: 0;
  margin: 0;
  .custom-scrollbar;
  background-color: whitesmoke;
  > * {
    line-height: 130%;
    font-family: 'Roboto Mono', monospace;
    // @effect: ease-in-out;  @attribute: background-color;  @time: .3s;  .add-transition();
  }
}

.main-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  padding-right: 5%;
  padding-left: 5%;
}

// Text Align
.text-justify { text-align: justify; }
.text-center  { text-align: center;  }
.text-right   { text-align: right;   }
.text-left    { text-align: left;    }



hr {
  .large-margin-top; .large-margin-bottom;
  border: none; height: 1px;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

pre {
  .custom-scrollbar;
  .normal-padding;
  max-height: 50vh; height: auto;
  overflow: auto;
  background-color: #eceff1;
  .shadow-1;
  border-radius: 2px;
  &::before {
    content: 'Example code\a';
    white-space: pre;
    font-weight: bold;
    font-size: 115%;
  }
}

.nowrap {   white-space: nowrap; }

// Flexbox grid
@import "flexboxgrid.less";
// Basic components
@import "basic/buttons.less";
@import "basic/selects.less"; // TODO multiple selection
@import "basic/tables.less";
@import "basic/inputs.less";
// Complex components
@import "complex/cards.less";
@import "complex/side-navbar.less";
@import "complex/modals.less";
@import "complex/tabs.less";
@import "complex/notifications.less";
