.notifications-panel {

  background-color: rgba(0,0,0,.5);
  // Position
  position: fixed; right: 0; top: 0;
  // Hidden on the page load
  display: none;
  // Size
  width: auto; min-height: 100vh; max-height: 100vh;
  // Padding
  .small-padding;
  // Scrollbar
  overflow: auto; .custom-scrollbar;

  >.notification {
    .not-selectable;
    min-width: 20vw;
    width: auto;
    height: auto;
    .large-padding;
    .shadow-1;
    .small-margin-bottom;
    color: white;

    > span.notification-title{
      font-weight: bold;
      font-size: 125%;
    }
    > p.notification-content{
      border-top: 1px solid whitesmoke;
      padding-top: 1rem;
      text-align: justify;
    }

    // On notification hover
    &:hover { .shadow-2; cursor: pointer; }

    // Differents Colors
    &.notification-default { background-color: @default-color; }
    &.notification-primary { background-color: @primary-color; }
    &.notification-danger  { background-color: @danger-color;  }
    &.notification-success { background-color: @success-color; }
    &.notification-info    { background-color: @info-color;    }
    &.notification-warning { background-color: @warning-color; }
  }

}
