.button {
  // Margins
  .normal-margin-top; .normal-margin-bottom;
  // Text and Fonts
  font-weight: bold; text-transform: uppercase; color: white;
  // Borders and Outline
  outline: none; border: none; &.rounded-button { border-radius: 3rem; }
  // Cursor
  cursor: pointer;
  // Shadow
  .shadow-1;  &:hover { .shadow-2; }

  // Differents Colors
  &.default-button     { background-color: @default-color;
    &.outline-button   { color: @default-color; border-color: @default-color; }
  }
  &.primary-button     { background-color: @primary-color;
    &.outline-button   { color: @primary-color; border-color: @primary-color; }
  }
  &.danger-button      { background-color: @danger-color;
    &.outline-button   { color: @danger-color; border-color: @danger-color; }
  }
  &.success-button     { background-color: @success-color;
    &.outline-button   { color: @success-color; border-color: @success-color; }
  }
  &.warning-button     { background-color: @warning-color;
    &.outline-button   { color: @warning-color; border-color: @warning-color; }
  }
  &.info-button        { background-color: @info-color;
    &.outline-button   { color: @info-color; border-color: @info-color; }
  }

  // Disabled Style
  &:disabled {
    background-color: white;
    color: @disabled-color;
    cursor: not-allowed;
    &:hover { .shadow-1; }
  }

  // "On click" effect
  &:active { opacity: .75; }

  // Outline button basic style
  // Placed here so overrides the background colors on the normal buttons
  &.outline-button {
    background-color: white;
    border-style: solid;
    border-width: 2px;
    &:disabled { color: @disabled-color; border-color: @disabled-color; }
  }

  // Differents sizes
  &.small-button { .small-padding; }
  /* Normal size */.normal-padding;
  &.large-button { .large-padding; }
  &.block-button { width: 100%; }
}
