.input-group {
  // Position of the group
  position: relative;
  // Width
  width: 100%;
  // Effects for all the childrens
  > * { @effect: ease-in-out;  @attribute: border-bottom;  @time: .4s;  .add-transition(); }

  // Label Style. It has to be below the input.
  > label {
    position: absolute; left: 0; top: 0;
    font-size: 75%; font-weight: bold;
    color: @unique-color-alt;
  }

  > input {
    // Margins
    .normal-margin-top; .normal-margin-bottom;
    // Text and Fonts
    font-size: 102%; color: black;
    // Borders and Outline
    outline:none; border:none; border: 1px;
    // Background
    background-color: rgba(0,0,0,0);

    // Styles based on the input status
    &:invalid  { border-color: @unique-color; & ~ label  { color: @unique-color-alt } }
    &:valid    { border-color: @primary-color; & ~ label { color: @primary-color    } }
    &:disabled { border-color: @disabled-color; cursor: not-allowed; }

    // Differents Colors
    &.basic-input {
      .shadow-1;
      border-style: solid; &:hover { .shadow-2; }
      &:disabled { border-style: dotted; .no-shadow; &:hover { .no-shadow } }
    }
    &.material-input {
      border-bottom-style: solid; &:disabled { border-bottom-style: dotted; }
    }

    // Differents sizes
    .small-padding; padding-left: 10px; padding-right: 0px;
    &.block-input {  width: calc(~'100% - 10px') }
  }
}
