.select {
  // Margins
  .normal-margin-top; .normal-margin-bottom;
  // Text and Fonts
  .text-left; font-size: 103%; color: white;
  // Borders and Outline
  outline: none; border: none;
  // Cursor
  cursor: pointer;
  // Shadow
  .shadow-1; &:hover { .shadow-2; }

  // Differents Colors
  &.default-select { background-color: @default-color; }
  &.unique-select {  background-color: @unique-color; }
  &.primary-select { background-color: @primary-color; }
  &.danger-select {  background-color: @danger-color; }
  &.success-select { background-color: @success-color; }
  &.info-select {    background-color: @info-color; }
  &.warning-select { background-color: @warning-color; }

  // Material Design Select
  &.material-select {
    color: black;
    background-color: white;
    border-bottom: 1px solid #757575;
    .no-shadow;
    &:disabled:hover { .no-shadow; }
  }

  // Disabled Style
  &:disabled {
    background-color: white;
    border-color: @disabled-color;
    color: @disabled-color;
    cursor: not-allowed;
    &:hover { .shadow-1; }
  }

  // Differents sizes
  &.small-select { .small-padding; padding-left: 15px;}
  /* Normal size */.normal-padding; padding-left: 15px;
  &.large-select { .large-padding; padding-left: 15px;}
  &.block-select { width: 100%; }
}
