.tabs {
  margin: 1.5rem 0;
  width: 100%;
  .shadow-1;

  > .tabs-links {
    padding: .5rem 1rem;
    > button.tabs-link {
      font-weight: bold;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 1s;
    }
  }

  > .tabs-body {
    position: relative;
    border: 1px solid whitesmoke;
    padding-bottom: 1.5rem;

    > .tab {
      padding: .3rem 1rem;
      padding-bottom: 1.5rem;
      position: absolute;
      top: 0;
      transform: scale(0);
      transition: transform .2s cubic-bezier(.5,0,.3,1);
      &.tab-active {
        transform: scale(1);
      }
    }

  }

  &.default {
    > .tabs-links {
      background-color: @unique-color-alt;

      > button.tabs-link {
        background-color: @unique-color-alt;
        color: white;

        &:hover, &.active {
          background-color: @unique-color;
        }
      }
    }

    > .tabs-body {
      background-color: white;
      color: black;
    }
  }

}
