.tabs {
  margin: 1.5rem 0;
  width: 100%;
  .shadow-1;

  > .tabs-links {
    padding: .5rem 1rem;
    > button.tabs-link {
      font-weight: bold;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 1s;
    }
  }

  > .tabs-body {
    position: relative;
    border: 1px solid whitesmoke;
    padding-bottom: 1.5rem;
    overflow: auto;

    > .tab {
      // Since the position is absolute, it will be necessary to arrange the height of the .tabs-body (parent class) through js.
      position: absolute;
      top: 0;
      padding: .3rem 1.5rem;
      transform: scale(0);
      visibility: hidden;
      @effect: ease-in-out;  @attribute: visibility;  @time: .15s;  .add-transition();
      @effect: ease-in-out;  @attribute: transform;  @time: .15s;  .add-transition();
      &.tab-active {
        transform: scale(1);
        visibility: visible;
      }
    }

  }

  &.default {
    > .tabs-links {
      background-color: @unique-color-alt;

      > button.tabs-link {
        background-color: @unique-color-alt;
        color: white;

        &:hover, &.active {
          background-color: @unique-color;
        }
      }
    }

    > .tabs-body {
      background-color: white;
      color: black;
    }
  }

}
